name: test

on: [push]

jobs:
  test:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-2016, windows-latest]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: install conan
      run: pip install conan
    - name: install dependencies
      run: conan install . --build=missing
    - name: cmake
      run: cmake .
    - name: cmake build
      run: cmake --build .
    - name: ctest
      run: ctest -C Release
      env:
        CTEST_OUTPUT_ON_FAILURE: 1
